name: zoneminder

include:
  - ../testserver/docker-compose.yml

services:
  zm:
    build:
      context: "containers/zoneminder"
      args:
        - CONNECTOR_CONFIG_FILE
    env_file: .env
    ports:
      - "8080:80"
    depends_on:
      - db
    privileged: true
    volumes:
      - type: "bind"
        source: "${IDMEFV2_CONNECTORS_GIT}"
        target: "/idmefv2-connectors"
      - type: "volume"
        source: "zmjson_log"
        target: "/var/log/zmjson/"
  db:
    image: "mysql"
    restart: "unless-stopped"
    command: --disable-log-bin
    volumes:
       - "./storage/mysql:/var/lib/mysql"
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: ${ZM_DB_NAME}
      MYSQL_USER: ${ZM_DB_USER}
      MYSQL_PASSWORD: ${ZM_DB_PASS}
    expose:
      - "3306"

volumes:
  zmjson_log:
