name: zoneminder

include:
  - ../testserver/docker-compose.yml

services:
  zm:
    build:
      context: "containers/zoneminder"
      args:
        - CONNECTOR_CONFIG_FILE
    env_file: .env
    ports:
      - "8080:80"
    depends_on:
      - db
    privileged: true
    volumes:
      - type: "bind"
        source: "${IDMEFV2_CONNECTORS_GIT}"
        target: "/idmefv2-connectors"
      - type: "bind"
        source: "./storage/zm/log/zm"
        target: "/var/log/zm"
        bind:
          create_host_path: true
      - type: "bind"
        source: "./storage/zm/log/idmefv2"
        target: "/var/log/idmefv2"
        bind:
          create_host_path: true
  db:
    image: "mysql"
    restart: "unless-stopped"
    command: --disable-log-bin
    volumes:
       - "./storage/mysql:/var/lib/mysql"
    env_file: .env
    expose:
      - "3306"
