name: zabbix

services:
  postgres:
    image: postgres:16-alpine
    container_name: zabbix-postgres
    environment:
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix
    networks:
      - connector_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U zabbix"]
      interval: 10s
      timeout: 5s
      retries: 5

  zabbix-server:
    image: zabbix/zabbix-server-pgsql:ubuntu-7.2.1
    container_name: zabbix-server
    ports:
      - "10051:10051"
    environment:
      - DB_SERVER_HOST=postgres
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix
    networks:
      - connector_net
    depends_on:
      postgres:
        condition: service_healthy

  zabbix-web:
    image: zabbix/zabbix-web-nginx-pgsql:ubuntu-7.2.1
    container_name: zabbix-web
    ports:
      - "8081:8080"
    environment:
      - ZBX_SERVER_HOST=zabbix-server
      - DB_SERVER_HOST=postgres
      - POSTGRES_USER=zabbix
      - POSTGRES_PASSWORD=zabbix
      - POSTGRES_DB=zabbix
      - PHP_TZ=Europe/Rome
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - connector_net
    depends_on:
      postgres:
        condition: service_healthy
      zabbix-server:
        condition: service_started

  zabbix.idmefv2:
    build:
      context: "containers/zabbix-idmefv2"
      args:
        - CONNECTOR_CONFIG_FILE
    volumes:
      - type: "bind"
        source: "${IDMEFV2_CONNECTORS_GIT}"
        target: "/idmefv2-connectors"
      - type: "bind"
        source: "./containers/zabbix-idmefv2/files/zabbix-idmefv2.conf"
        target: "/etc/zabbix-idmefv2.conf"
    networks:
      - connector_net
    command: /entrypoint.sh
    depends_on:
      zabbix-web:
        condition: service_healthy

  testserver.idmefv2:
    extends:
      file: ../testserver/docker-compose.yml
      service: testserver.idmefv2
    networks:
      - connector_net

networks:
  connector_net:
    driver: bridge
